@charset "utf-8";
/* CSS Document */

.font-face {
	font-family: "MarinaStrmota";
	src: url("MarinaStrmota.ttf");
	font-size: 100px;
	color: #A4348B}


ul {list-style-type: none;
  margin: 0;
  display: flex;
	justify-content:flex-start;}
	

h2 {font-size: 45px;
	color: #BD79A9;
} 

body, html {
  height: 100%;
}

.bg {
  background-image: url("Pozadina/pozadina.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


a{font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  font-size:23px;
  background-color:rgba(50,15,33,0.92);
  padding: 10px;
	color:#ECECEC;}

p{
	font-size:35px
}
img {
	width:600px;
}